* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-color: #2c2d30;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #2c2d30;
}

::-webkit-scrollbar-thumb {
    background-color: #232627;
    border-radius: 30px;
}

.content {
    padding-top: 100px;
    z-index: 3;
    position: relative;
}

.body-jumbotron {
    padding: 0;
    margin: 0;
    background-color: #2c2d30;
    border-radius: 0;
}

.content-jumbotron {
    background-color: #2c2d30;
    border: none;
    border-radius: 30px;
    box-shadow: #232627 3px 3px 4px 0px, #343434 -3px -3px 0px 0px;
    opacity: 0;
    display: none;
}

.content-jumbotron:target {
    opacity: 1;
    display: block;
}

/* home */
.content-home {
    color: #eaecee;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-home h1,
.content-about h1,
.navbar-jumbotron h1 {
    word-spacing: 3px;
    letter-spacing: 2px;
}

.content-home p,
.content-about .front,
.navbar-jumbotron p {
    letter-spacing: 3px;
    font-size: 17px;
    color: #babcbe;
}

.content-home .social a {
    color: #eaecee;
}

.content-home .social a i {
    margin: 10px;
    font-size: 25px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: #232627 3px 3px 4px 0px, #343434 -2px -2px 2px 0px;
    transition: 0.5s;
}

.content-home .social a i:hover {
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -2px -2px 2px 0px inset;
    color: #f9c90f;
}

.content-home .garis {
    margin-top: 20px;
    width: 20%;
    height: 10px;
    border-radius: 50px;
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -3px -3px 2px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home .garis .isi {
    width: 30%;
    height: 50%;
    border-radius: 50px;
    background-color: #f9c90f;
}

/* end-home */


/* about */
.content-about {
    color: #eaecee;
}

.content-about .title,
.content-portofolio .title,
.content-contact .title,
.content-blog .title {
    margin-top: 40px;
}

.content-about .container,
.content-portofolio .container,
.content-contact .container,
.content-blog .container {
    width: 90%;
}

.content-about .garis,
.content-portofolio .garis,
.content-contact .garis,
.content-blog .garis {
    width: 10%;
    height: 10px;
    border-radius: 50px;
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -3px -3px 2px 0px inset;
    display: flex;
    align-items: center;
}

.skill,
.text {
    padding-top: 20px;
}

.content-about .value-garis {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -3px -3px 2px 0px inset;
    display: flex;
    align-items: center;
}

.name-skil {
    margin-top: 20px;
    padding-left: 15px;
    letter-spacing: 2px;
    font-size: 17px;
}

.content-about .value {
    height: 100%;
    border-radius: 100px;
    background-color: #f9c90f;
    box-shadow: #f9c90f 3px 3px 4px 0px inset, #464646 -3px -3px 5px 0px inset;
}

.border-card {
    margin-top: 10px;
    padding: 8px;
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -3px -3px 2px 0px inset;
    border-radius: 15px;
}

.content-about .card h5 {
    color: #babcbe;
    font-weight: 400;
}

.content-about .card b {
    color: #eaecee;
}

.content-about .card {
    box-shadow: #232627 3px 3px 4px 0px, #343434 -3px -3px 2px 0px;
    border: none;
    background-color: #2c2d30;
    border-radius: 10px;
}

.content-about .garis .isi,
.content-portofolio .garis .isi,
.content-contact .garis .isi,
.content-blog .garis .isi {
    margin-left: 10px;
    width: 40%;
    height: 50%;
    border-radius: 50px;
    background-color: #f9c90f;
}


/* end-about */


/* portofolio */
.content-jumbotron {
    color: #eaecee;
}

.content-portofolio .gambar .box {
    margin-top: 30px;
    padding: 10px;
    border-radius: 35px;
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -3px -3px 2px 0px inset;
}

.content-portofolio .gambar img {
    border-radius: 30px;
    padding: 5px;
    box-shadow: #232627 3px 3px 4px 0px, #343434 -3px -3px 2px 0px;
}

.content-portofolio .box {
    transition: 2s;
}

.content-portofolio .box .btn {
    display: none;
}

.content-jumbotron .box:hover img {
    filter: blur(2px);
    transition: 0.5s;
}

.content-portofolio .box:hover .btn {
    display: block;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, 50%);
}

.content-portofolio .box .btn i {
    color: #343434;
    font-size: 25px;
}

/* end-portofolio */



/* contact */
.content-contact {
    color: #eaecee;
}

.maps {
    margin-top: 10px;
    padding: 8px;
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -3px -3px 2px 0px inset;
    border-radius: 15px;
}

.content-contact iframe {
    width: 100%;
    box-shadow: #232627 3px 3px 4px 0px, #343434 -3px -3px 2px 0px;
    border: none;
    background-color: #2c2d30;
    border-radius: 10px;
    padding: 5px;
}

.content-contact .row {
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

.content-contact input::-webkit-input-placeholder,
.content-contact textarea::-webkit-input-placeholder {
    color: #babcbe;
}

.content-contact .form-group input {
    color: #eaecee;
    text-align: left;
    font-size: 15px;
    background-color: #2c2d30;
    border: none;
    border-radius: 50px;
    box-shadow: #232627 2px 3px 2px 0px, #343434 -2px -1px 2px 0px;
    transition: 0.5s;
}

.content-contact .form-group textarea {
    color: #eaecee;
    font-size: 15px;
    background-color: #2c2d30;
    border: none;
    border-radius: 20px;
    box-shadow: #232627 2px 3px 2px 0px, #343434 -2px -1px 2px 0px;
    transition: 0.5s;
    height: 150px;
}

.content-contact .btn {
    color: #f9c90f;
    text-align: left;
    font-size: 15px;
    background-color: #2c2d30;
    border: none;
    border-radius: 50px;
    box-shadow: #232627 2px 3px 2px 0px, #343434 -2px -1px 2px 0px;
    transition: 0.5s;
}

.content-contact input:hover,
.content-contact textarea:hover,
.content-contact .btn:hover {
    box-shadow: #232627 2px 3px 2px 0px inset, #343434 -2px -1px 2px 0px inset;
}

.content-contact input:focus {
    box-shadow: #232627 2px 3px 2px 0px inset, #343434 -2px -1px 2px 0px inset;
}


/* end-contact */





.navbar-jumbotron {
    position: relative;
    z-index: 3;
    background-color: #2c2d30;
    color: #eaecee;
    border: none;
    border-radius: 30px;
    box-shadow: #232627 3px 3px 4px 0px, #343434 -3px -3px 2px 0px;
}

.navbar-jumbotron .card-img-top {
    width: 150px;
    padding: 10px;
    box-shadow: #232627 2px 2px 2px 0px, #343434 -1px -1px 2px 0px;
}

.navbar-jumbotron a {
    color: #eaecee;
    box-shadow: #232627 2px 3px 2px 0px, #343434 -2px -1px 2px 0px;
    transition: 1s;
    background-color: #2c2d30;
}

.navbar-jumbotron .btn {
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
}

.navbar-jumbotron .btn i {
    float: right;
    font-size: 20px;
    color: #babcbe;
}

.navbar-jumbotron .btn:hover,
.navbar-jumbotron .active {
    color: #babcbe;
    background-color: #2c2d30;
    box-shadow: #232627 2px 3px 2px 0px inset, #343434 -2px -1px 2px 0px inset;
}

.navbar-jumbotron .btn:hover i,
.navbar-jumbotron .active i {
    color: #f9c90f;
}

.copyright {
    background-color: #2c2d30;
    width: 100%;
    color: #eaecee;
    border-radius: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    box-shadow: #232627 2px 2px 2px 0px inset, #343434 -1px -1px 2px 0px inset;
}

.copyright p {
    text-align: center;
    padding: 10px;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 15px;
    background-color: #2c2d30;
    color: #eaecee;
    cursor: pointer;
    box-shadow: #232627 2px 2px 2px 0px, #343434 -1px -1px 2px 0px;
}

.setting:hover {
    box-shadow: #232627 2px 2px 2px 0px inset, #343434 -1px -1px 2px 0px inset;
}

.setting:hover i {
    color: #babcbe;
}

.setting i {
    animation: bergerak 5s ease-in-out infinite;
}

@keyframes bergerak {

    0%,
    100% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(360deg);
    }
}

.effect-wrap .effect {
    position: absolute;
    z-index: 2;
}

.effect-1 {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 15px solid #b5e4da;
    left: 5%;
    top: 10%;
    animation: spin 5s linear infinite;
}

.effect-2 {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 25px solid #e6ae9d;
    top: -100px;
    left: 50%;
    animation: samping 3s linear infinite;
}

.effect-3 {
    border-top: 60px solid transparent;
    border-left: 60px solid #a3a3a5;
    top: 60%;
    right: 3%;
    animation: backspin 10s linear infinite;
}

.effect-4 {
    width: 70px;
    display: flex;
    flex-wrap: wrap;
    top: 80%;
    left: 2%;
    animation: pantul 5s linear infinite;
    justify-content: space-between;
}

.effect-4 div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #0082f0;
    margin: 0 3px 8px;
}

.effect-3::before {
    content: '';
    border-top: 60px solid transparent;
    border-left: 60px solid #a3a3a5;
    position: absolute;
    left: -70px;
    top: -45px;
    opacity: 0.5;
}

@keyframes spin {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes backspin {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes pantul {

    0%,
    100% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(25px);
    }
}

@keyframes samping {

    0%,
    100% {
        transform: translateX(-25px);
    }

    50% {
        transform: translateX(25px);
    }
}



/* SKILL */
#photoshop {
    width: 76%;
}

#html {
    width: 80%;
}

#js {
    width: 30%;
}

#php {
    width: 65%;
}

#creative {
    width: 90%;
}

/* loading */

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.putaran {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: #232627 3px 3px 4px 0px, #343434 -3px -3px 2px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #2c2d30;
    box-shadow: #232627 3px 3px 4px 0px inset, #343434 -3px -3px 2px 0px inset;
    animation: spin 5s linear infinite;
}

.sc {
    display: none;
}

@keyframes besar {
    0% {
        transform: rotate(0);
    }

    100% {
        /* transform: scale(100%); */
        transform: rotate(340deg);
    }
}